.productHolder{
    position: relative;
    display:inline-block;
    outline:1px solid white;
    margin:10px;
    width:200px;
    text-decoration:none;
    border-radius: 10px;
    overflow: hidden;
}
.productHolder a{
    text-align: center;
    text-decoration:none;
}

.productsStore{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}
.productsStore img {
    width: 200px;
    height:200px;
}
.productsStore input {
    color:black;
}

.sorter {
    display: inline-block;
}
.selector, .selector *{
    color:black;
    margin-left:10px;
    margin-top:20px;
}

button {
    color:black;
    width:100%;
    height:45%
}
.deleteButton {
    line-height: 20px;
    position: absolute;
    z-index: 1;
    background-color: red;
    width:20px;
    height: 20px;
    right: 2px;
    top:2px;
    border-radius: 50%;
    cursor: default;
}
.createNewButton{
    margin-left:20px;
    width:auto;
    display: inline-block;
}