body {
    background-image: url("./background.png");
    color: white;
    background-attachment: fixed;
    font-size: 3vh;
}

* {
    margin: 0;
    padding: 0;
    color:white;
}

input{
    color:black;
}

.App{
    width: 100%;
    display: grid;
    grid-template-areas: 'navi content content';
    grid-template-columns:  auto 2fr;
    grid-template-rows: auto;
    grid-gap: 2vh;
    height: 100vh;
}

.navigation {
    grid-area: navi;
}

.app-content {
    margin-top: 20px;
}




